.container{
  margin: 0;
  padding: 0;
}

.header{
  height: 40px;
  padding: 10px;
  border-bottom: 2px solid black;
}
.logo{
  font-size: 40px;
  width: 200px;
  float: left;
  padding-left: 5px;
}
.navigation{
width: 285px;
float: right;
}
.nav li{
  list-style-type: none;
  display: inline;
  margin: 5px;
  font-size: 18px;
}
.content{

}
.content-header{
  font-size: 28px;
  text-align: center;
  padding: 5px 0;

}
.footer{
  text-align: center;
  border-top: 2px solid black;
  
}